[2015-05-13 12:23] psibre opened #2 "Present dialog frameworks"

[2015-05-13 12:25] psibre commented on #2
jVoiceXML
=====
@cbocionek and @Pat-Carroll

[2015-05-13 13:14] psibre opened #3 "OpenDial prototype"

[2015-05-13 13:14] psibre opened #4 "InproTK prototype"

[2015-05-13 13:20] tastyminerals commented on #4
I'll take it

[2015-05-13 13:59] bryandeng commented on #4
I'm also on this.

[2015-05-13 14:01] bryandeng commented on #4
I'm also on it.

[2015-05-13 14:12] #2 closed

[2015-05-13 14:19] psibre commented on #3
Planned prototype workflow:
**User** "Hi Ella!"
**Ella** "Hi User!"
**User** "Two please."
**Ella** "You said 'two'."
*Ella pushes button 2*

* [ ] Text first, using the OpenDial framework.
* [ ] Add TTS output (MaryTTS).
* [ ] Try to integrate speech recognition (Sphinx4).

[2015-05-13 14:20] psibre commented on #4
Workflow like in https://github.com/EllaVator/EllaVator/issues/3#issuecomment-101682443

* [ ] Text first, using the InproTK framework.
* [ ] Add TTS output (MaryTTS).
* [ ] Try to integrate speech recognition (Sphinx4).

[2015-05-13 14:27] psibre commented on #4
Please use the [`inprotk`](/EllaVator/EllaVator/tree/inprotk) branch.

[2015-05-13 14:28] psibre commented on #3
Please use the [`opendial`](/EllaVator/EllaVator/tree/opendial) branch.

[2015-05-13 16:40] HoffmannAJ commented on #3
@HoffmannAJ (I'd like to try OpenDial for a prototype)

[2015-05-13 20:04] bryandeng commented on #3
I'm also going for this.

[2015-05-18 11:51] benti commented on #3
I'll join this group.

[2015-05-19 13:48] naszka commented on #4
Interested in meeting tomorrow? I am struggling with setting up gradle, so we could play around with gradle too, then start on the inprotk demo

[2015-05-19 15:22] benti commented on #3
As Kata already proposed in the other group it would probably be nice to meet tomorrow. I'll be there.

[2015-05-19 17:45] tastyminerals commented on #4
Kata, I would gladly meet , unfortunately I shall be in Frankfurt tomorrow whole day. Maybe some other time this week. I have not started anything yet, so you are free to improvise ;)

[2015-05-19 18:24] HoffmannAJ commented on #3
I'll also be there. :)

[2015-05-19 18:26] bryandeng commented on #3
Also coming.

[2015-05-19 22:15] LauraRF commented on #4
Hi guys,
I would also like to join this group. I will be in class tomorrow and hope that I've managed to set up gradle until then.

[2015-05-20 13:40] asayeed commented on #4
The InproTK wiki, which people were asking about:
http://sourceforge.net/p/inprotk/wiki/Home/

[2015-05-20 15:27] bryandeng commented on #3
Hi all:

As the release manager of this team, I now give some instructions on collaboration.

All the work on OpenDial demo will be aggregated at `bryandeng:opendial`. I'm responsible for code review and merge within this team. In the end I'll organize the commits and send a PR to `EllaVator:opendial` to make our work merged into the organization repo.

If you want to join this team, please do the

[2015-05-21 09:15] HoffmannAJ commented on #3
Hi!
I just wanted to submit my opendomain-file for the opendial prototype.
But it seems to me all I have done was creating a big mess.
I've never worked with different branches and it looks to me that I somehow somewhere did something wrong and trying to fix it only seemed to make it worse.

The domain-file i've wirtten inlcudes the nlg, nlu as well as the dm and covers the basic functions for the

[2015-05-21 12:00] InfiniteConvergence commented on #4
Hi,
  I assign myself to this.
-Stalin.

[2015-05-22 16:45] naszka commented on #4
guys, I need help, I spent the last couple of hours trying to install inprotk, without any success. It recommends eclipse as a build environment, but it depends on opendial which is in Java8, and eclipse does not support java8, so I cannot make it an eclipse project to add to the build path of inprotk,
How do i build it without eclipse?

[2015-05-22 20:24] psibre commented on #4
Have a look at the [gradle branch](https://bitbucket.org/psibre/inprotk/branch/gradle) in my fork of [InproTK](https://bitbucket.org/inpro/inprotk). You can build a jar with `./gradlew jar`, but I haven't looked beyond that. It should give you an idea of how it can be built using Gradle.

[2015-05-23 20:36] HoffmannAJ commented on #3
Hi all!

Has anyone tried to add TTS or integrate speech Recognition with opendial?

I tried to do both but I can't figure out how to do it.
Adding TTS seems to work I do get the output [Module MaryTTS successfully attached]. But there is no speech Output during the systems turn and I can't find a button to enable that.

If I try using Sphinx for speech recognition I get error messages stating tha

[2015-05-24 01:19] benti commented on #3
For MaryTTS, I have something that works quite well, though it is maybe not perfectly integrated into the opendial api: https://github.com/benti/EllaVator/blob/mary-tts/src/main/java/MaryTTS.java

The Module file from the opendial website does not seem to work. I couldn't really figure out why, so I modified it.

I also tried Sphinx, but that does not work well enogh yet.

[2015-05-24 10:02] psibre commented on #3
@HoffmannAJ The error message
[code]
indicates what is wrong: you're passing in a raw Windows path, which results in a malformed URL.

[2015-05-25 15:44] LauraRF commented on #4
Hi guys,
I wanted to update you on how far I've gotten until now. I closely followed the instructions and used the files provided by the InproTK sourceforge wiki. I managed to download inproTK, install it, download MaryTTS, install it and build the whole thing with ant. However, I did not use gradle because it wouldn't work and I didn't use Sphinx4, because it is already integrated in InproTK. I t

[2015-05-26 13:40] HoffmannAJ commented on #3
@ psibre
Thank you for your answer.
I have tried some more things but I still couldn't load the grammar.

@  benti
It's great to hear that you found the problem with the Mary module and where able to fix it!
As I have right now run out of ideas how to get sphinx working, I'm excited to see tomorrow how it is done!

[2015-05-26 23:30] bryandeng commented on #3
Dear teammates:

We now include OpenDIal as a git submodule, please do
`git submodule update --init --recursive`
before building since gradle won't automatically download OpenDIal for you.

[2015-05-27 13:03] psibre opened #6 "Collect prompts / model dialog flow"
in German and English

[2015-05-27 13:04] psibre opened #7 "Virtualize raspberry pi 2"
Use [qemu](http://www.qemu.org/)...

[2015-05-27 13:07] Pat-Carroll commented on #6
I assign myself to modeling dialog flow.

[2015-05-27 13:44] HoffmannAJ commented on #6
I'd also like to assign myself to modeling the dialog flow.

[2015-05-27 13:52] tastyminerals commented on #6
I'd like to do the dialog modeling flow as well

[2015-05-27 14:57] LauraRF commented on #6
I'll also join this group.

[2015-05-27 14:58] bryandeng commented on #7
I'm in.

[2015-05-27 18:25] bryandeng commented on #7
I find that all the posts about such virtualization require a qemu-kernel from
http://xecdesign.com/downloads/linux-qemu/kernel-qemu

But now the page is 404.

[2015-05-27 18:34] psibre commented on #7
http://web.archive.org/web/20150214035104/http://www.xecdesign.com/downloads/linux-qemu/kernel-qemu

[2015-05-27 19:51] bryandeng commented on #7
It works! I'll open a wiki page for this.

[2015-05-27 20:41] HoffmannAJ commented on #6
This is my basic idea how a dialogue might look like:

![dia](https://cloud.githubusercontent.com/assets/12255262/7846873/8d371cb4-04c0-11e5-8be8-bb54798c9b88.jpeg)

U: Greeting: Keyword_for_starting_Ella
S: Greet + Offer: Hello, [What can I do for you | How can I help you]
U: Request: Take me to [[floor | room] X | Personname]
S: Grounding: You'd like to be taken to [[floor | room] X | Personname

[2015-05-28 20:10] LauraRF commented on #6
I think that greeting from the user and from the elevator should be optional and that a user should be able to enter and directly use a request like "third floor". So I think you could enter an arrow directly from outside to the "request" circle in your diagram / structure. I think this is important if people who are in a hurry also want to use the elevator without pressing the buttons themselves.

[2015-05-28 21:01] LauraRF commented on #6
I made some time measurements today which might be useful in estimating how much time is spent in the elevator:
- walking: from the door to the building to the aquarium took me 54 seconds
- calling the elevator in the ground floor and going up to the third: 44 seconds, it took around 4 seconds until the elevator was there and so the maximum time spent in the elevator with pressing the buttons is a

[2015-05-29 00:23] HoffmannAJ commented on #6
nice study! XD
And also: Good point.

On the other hand: I inserted the greeting from the user as the keyword to start the elevator, as it was done in the old version of the elevator.
It would be perfect if we could omit that and also skip the request part.

I had planned to do some more reading but didn't yet get around to do so. I wanted to know whether it is possible to interrupt the system whi

[2015-06-02 14:05] naszka commented on #4
Laura, when you used inpro, did you install opendial beforehand?
I could build it without (it only depends on marytts) but if you actually want to build a new dialog project system  it also needs opendial.

[2015-06-02 18:32] LauraRF commented on #4
No, I didn't install opendial, not beforehand and not afterwards. But also, I didn't really build a new dialogue system, just played around with the files already available.

[2015-06-02 20:24] LauraRF commented on #6
So to make this more complete I'm including some examples for possible utterances based on the structure proposed by Anne-Julia. This is by no means an exhaustive list.
Greetings user
German:
- Hi | Hallo [Aufzug | Ella]
- Guten Morgen | Tag | Abend [Aufzug | Ella]
English:
- Hi | Hello [Aufzug | Ella]
- Good morning | afternoon | evening [Aufzug | Ella]

Greetings Ella
German:
- Hallo. Wie kann i

[2015-06-02 20:31] LauraRF commented on #6
Request
German:
- In den ersten | zweiten | dritten [Stock] [bitte]
- Ins erste | zweite | dritte Stockwerk | Geschoss [bitte]
- In die erste | zweite | dritte Etage [bitte] || Zwischengeschoss
- Zum Raum ... [bitte]
- Zum Aquarium [bitte]
- Bringe mich zum Raum | [Eye-tracking] Versuch | Labor | Klo | Toilette
- Ich suche den Raum | das Büro von
- [Ella | Aufzug], kannst du mich in den ... Stock

[2015-06-02 21:59] tastyminerals commented on #6
A few additional time measurements.
Time for when one enters the elevator, presses a button and leaves the cabin:
0 -> 3 floor: 25 sec.
3 -> 2 floor: 20 sec.
Doors:
Opening: 4.0 sec.
Closing: 5.5 sec.

[2015-06-03 13:47] psibre commented on #6
@LauraRF could you convert this to a JSGF file and commit it into `src/main/resources` or somthing? :+1:

[2015-06-03 15:18] asayeed opened #10 "yes, it's the shopping list issue"
@psibre and I spent a little more time afterwards attempting to shop for parts.  This is slightly harder than you might think, because we have some special accessory requirements.  We are going to order most of @bryandeng's suggestions, which are the basic items:

Raspberry Pi 2 Model B:
http://de.rs-online.com/web/p/products/8326274/

Appropriate housing:
http://de.rs-online.com/web/p/products/81

[2015-06-03 17:59] benti opened #11 "Resource cannot be found: resources//settings.xml"
Currently when executing `gradle run`, this error is thrown:
[code]
There is a workaround for this problem, namely copying `opendial/resources/*` to `resources/*`.
But this is not a very nice thing to do, I think.

Here is why the error is thrown: the file path of `settings.xml` is defined in `opendial/src/opendial/Settings.java`:
[code]
This will be hard to change without modifying the code, beca

[2015-06-03 18:26] #11 closed

[2015-06-08 22:30] LauraRF commented on #6
I'm working on a JSGF file and will have it uploaded on time before class.

[2015-06-09 14:52] asayeed commented on #10
The RS website doesn't seem to have USB audio devices, but Amazon.de has several costing from 5-20 EUR depending on brand. Anything using USB1.1 will work with the Pi and Linux. Need to find the width of the jack inside the elevator (3.5 or 2.5mm).  So two reasons for me to make a journey inside the elevator cabinet tomorrow.  We're getting there! :)

[2015-06-09 15:00] psibre commented on #10
I'm not that big a fan, but we could of course just order all of it from Amazon, right?

[2015-06-09 15:13] asayeed commented on #10
We could indeed -- unless someone has an alternative that *does* sell cheap USB audio.  The level shifter for the Raspberry Pi is also a bit tricky to get from RS, which surprises me.  It's name in German is, by the way "Pegelwandler".

[2015-06-09 15:43] asayeed commented on #10
Two options also for the RS232 connection.  The cheap one is this:

http://www.amazon.de/SODIAL-MAX3232-Schnittstelle-TTL-Konverter-Modul-DB9-Anschluss/dp/B00K67XD7Y/ref=pd_sim_sbs_147_3?ie=UTF8&refRID=1E99KSW5Z4A0RB0VVXEJ

This one uses little jumper cables to connect from the GPIO.  The online tutorials for this kind of thing seem to suggest that most people use a bread board to hold all these t

[2015-06-10 09:34] asayeed commented on #10
OK, I checked the elevator cabinet physically.  It takes a 3.5mm jack (so most of the USB audio cards would work without an adapter).  The computer has a male serial port, whereas the RS232 level shifters are female, so we'd need a gender changer.  That pretty much completes the shopping list, once we decide on which cards to get.

Unfortunately I forgot my laptop (I rarely bring it with me), but

[2015-06-10 10:38] benti opened #14 "Hot word / keyphrase listening"
Since we would like to ignore when people are having a normal conversation in the elevator, it would be nice to use the keyphrase listening feature of sphinx. Here is what I found in their FAQ:
http://cmusphinx.sourceforge.net/wiki/faq#qhow_to_implement_hot_word_listening
In the end it says:

... but it is in pocketsphinx. Does that mean we should eventually try to use pocketsphinx or is there ano

[2015-06-10 12:51] psibre commented on #6
Thanks!

[2015-06-10 12:51] #6 closed

[2015-06-10 12:52] psibre commented on #6
(I should have said: closed in b44dcae3c1f093d512f2428f671ddcbb97846423)

[2015-06-10 12:53] psibre opened #15 "Expand JSGF into a list of all possible utterances in domain"

[2015-06-10 13:02] psibre opened #16 "Speech I/O testing with TTS and ASR feedback loop"

[2015-06-10 13:04] psibre opened #17 "OpenDial domain adaptation"

[2015-06-10 13:05] psibre commented on #4
Closing for now.

[2015-06-10 13:05] #4 closed

[2015-06-10 13:06] psibre commented on #3
Actually, this is done, but not finished. Closing this issue.

[2015-06-10 13:06] #3 closed

[2015-06-10 13:19] psibre commented on #7
@bryandeng Tried the PDF linked in the wiki using something like:
[code]
Any ideas?

[2015-06-11 12:39] asayeed commented on #10
I have placed the order, including a small wifi dongle, because it would be annoying to have to search for plugs everytime we decide we need e.g. a new java version or want to clone a git repo, etc, etc.

Everything EXCEPT the serial port should be here next week.  We can briefly live without the serial port -- it will be here the week after as it is a specialty item.

I am going to close this iss

[2015-06-11 12:39] #10 closed

[2015-06-13 22:05] HoffmannAJ commented on #17
Hi all!

I just submitted a suggestion for a adapted domain and grammarfile for German.

In the domain I changed the nlu and added one more rule to the dm.
I did not yet change the nlg.

While I was working on the files I was thinking about, when the system will be told in which language shall be used.

As far as I remember we wanted to determine the language with the greeting, do I have that righ

[2015-06-14 10:27] bryandeng commented on #7
I didn't see this when I ran the command. Which version of qemu are you using? Actually I skipped the image resizing operation.

[2015-06-15 12:37] asayeed opened #19 "some assembly required"
Most of the parts have arrived, so it's time for the issue for setting up the Pi.  I will bring (note to self!!!) a tool set to Wednesday's class with the parts, and a spare monitor, mouse, and keyboard.  I will also load a Raspbian image onto one of the SD cards.  As I predicted, the serial port will probably come next week or later, but that's fine.  This issue is opened just to keep track of an

[2015-06-15 12:42] asayeed commented on #19
Of course, NOW I realize that our only way to test the physical connection via the serial port is via the elevator itself.  I am thinking that we need one more part, unless one of you has an old-style serial port on your machines...

[2015-06-15 15:15] psibre commented on #19
I wonder if we could use a random old PC with a serial port to impersonate the elevator to the Pi?

[2015-06-15 15:32] asayeed commented on #19
We could do this if someone around us has a random old PC -- for sure.  And a serial cable, but maybe Systems Group has some spare ones.  They've lent me a few things for temporary use so far.  Maybe they even have an old PC with a serial port, I'll ask.

[2015-06-16 15:18] #15 closed

[2015-06-16 18:38] psibre commented on #7
I think we should try to include another subproject to act as a virtual pi. Something along the lines of
[code]
where the `run` task in the `pivm` subproject would run some startup script that fires up a RasPi VM which boots our SD card image and starts the EllaVator app or runs through an integration test suite.

We'll discuss this and other things tomorrow.

[2015-06-17 09:16] psibre commented on #19
Pending the serial port delivery, we should try and fire up the Pi today!

[2015-06-17 09:19] asayeed commented on #19
Indeed we will be. I will be coming to class with an armful of stuff. Actually, we need a couple of MORE things, that being a speaker and a mic, but I assumed that you would be actually likely to have these. :)

[2015-06-17 13:52] bryandeng commented on #7
Some tips:
http://www.tomaz.me/2013/12/02/running-travis-ci-tests-on-arm.html

[2015-06-17 14:43] asayeed commented on #19
The gender changer and the "actual" wifi dongle arrived, but no serial port!

[2015-06-17 15:02] psibre commented on #7
@bryandeng awesome for the Travis integration! Not sure whether we can manage that -- I think our tests may end up running too long. Travis integration is definitely a desirable, but the qemu-based virtual pi stuff will probably have to be run as a non-continuous integration test, i.e., on demand, on a local machine.

[2015-06-17 18:41] bryandeng commented on #7
@psibre Yes, we can use Travis to do some generic Java testing. And they have nice caching mechanism to shorten the time for running tests.

[2015-06-19 14:26] benti opened #22 "elevator mock to test the serial port signals coming from our application"
Maybe it is not necessary to write our own mock program for the elevator. There is a linux program called `minicom` (http://www.cyberciti.biz/tips/connect-soekris-single-board-computer-using-minicom.html) that logs all signals coming from the serial port. We could run this program on an old computer with serial port, connect it to the rasberry pi, and see the output.

[2015-06-22 21:19] LauraRF commented on #17
Hi,
I'm having some problems with OpenDial. Could someone tell me which commands to use to run it with gradle, so that I can try the example files?

[2015-06-22 22:41] sirifarif commented on #17
Hi LauraRF,

From the beginning:
1. First clone a copy of the main project which you should have already forked in your online github account.
https://github.com/LauraRF/EllaVator.git

2. **cd** into *opendial* directory and check output of **ls** command. If it is empty, then **cd** into *opendial*.

3. Use the following commands in *opendial* directory.

4. **git submodule init** and then **git

[2015-06-23 06:12] psibre commented on #16
An unfinished implementation is in the `speech-test` branch. We still need to tie sphinx into the `recognize` method.

[2015-06-23 06:41] naszka commented on #16
I'll try to do that today

[2015-06-23 06:55] psibre commented on #16
@naszka cool, thanks! Chat with me if you run into low-level problems.

[2015-06-23 08:35] psibre commented on #16
After hacking around a bit, I think we can do a similar thing to what the `SphinxASR` class does inside the [OpenDial Sphinx ASR plugin](https://github.com/plison/opendial/releases/download/version1.3b/sphinx-plugin.zip), which is to say,
[code]
followed by
[code]
adapted to our scenario of course.

[2015-06-23 08:42] psibre commented on #16
Incidentally, after listening to some of the synthesized audio, I think even if sphinx works, it will fail to understand anything at all... =)

[2015-06-23 08:54] naszka commented on #16
:) we could write a separate demo, using LiveSpeechRecognizer just to test our grammar. I have class until 2 but can play around with it after that.

[2015-06-23 08:58] psibre commented on #16
@naszka I agree, we should hook some sphinx into our app, but that's a separate task I think.

[2015-06-23 09:04] psibre opened #24 "Enable sphinx recognition in our app"
We currently run the [OpenDialDemo](../blob/006269af5397c32856432c9c2ae28c34841ca496/src/main/java/OpenDialDemo.java) from gradle (with the `run` task), but there is no integration with sphinx, so no ASR support.
We need to add ASR support, similar to the [OpenDial Sphinx ASR plugin](https://github.com/plison/opendial/releases/download/version1.3b/sphinx-plugin.zip), and run it with our dictionary

[2015-06-23 09:04] psibre commented on #16
See #24

[2015-06-23 10:34] StalVars commented on #24
I am looking into it ..

[2015-06-23 10:39] naszka commented on #24
I don't understand how OpenDial and sphinx communicate. How do updatedVars get updated ( I am talking about the trigger method)? Looks like opendial handles the user speech input:
(new Thread(new RecognitionProcess((SpeechData) speechVal))).start();
opendial passes on the raw speech input?

[2015-06-23 12:14] psibre commented on #24
The way I understand it, opendial does this by means of its Sphinx ASR plugin. We can do it similarly, but in our own codebase. Perhaps all we have to do is emulate the plugin (recall that we already have all of its dependencies in our `sphinx4` subproject).

[2015-06-23 12:39] naszka commented on #24
Yes, I agree. I am only fuzzy about one line
line 166            state.hasChanceNode(speechVar)
Does this refer to opendial domain file? We should define for each state that it can receive speech input? Or what does this mean?

[2015-06-23 12:49] bryandeng commented on #7
@psibre What are the next steps?

[2015-06-23 13:24] psibre commented on #7
We just provisioned project file space on coli at `/proj/courses/elevator15`.
@asayeed will put the SD card image there.

[2015-06-23 13:31] StalVars commented on #24
Can we just add the file SphinxASR.java to the plugins ./src/opendial/plugins  and build on it?We can  use this plugin SphinxASR.java ,right?

[2015-06-23 13:34] psibre commented on #24
I think we also need to endow opendial with the capability to load the plugin. Quoting from the `README.txt`:

[code]

[2015-06-23 17:23] naszka commented on #24
We integrated (to some extent) sphinx using this plugin. I pushed it to my fork (it is clumsy, it contains local paths) but it runs, we just wanted to give a final update for today, will continue tomorrow.

[2015-06-23 19:14] psibre commented on #24
Thanks for the update! It can be tricky to work with resources when sphinx seems to require paths as strings... We'll see how we can solve it!

[2015-06-24 08:25] plison commented on #24
Hi all,
To answer @naszka , OpenDial follows the following steps for the speech recognition:
1) The module AudioModule takes care of all low-level audio processing functions. It is this module that actually captures speech data from the microphones. When a particular speech segment has been recorded, its data is added to a particular state variable (denotes `s_u`) that contains the raw speech data

[2015-06-24 14:03] psibre opened #27 "Create pronunciation dictionary for our limited domain"

[2015-06-24 14:04] psibre commented on #27
This is a dependency of #24

[2015-06-25 21:08] LauraRF commented on #17
Hi all,
I just looked at both of  the gram.gram in the grammar_en and the grammar_de folders in EllaVator > src > main > resource to put in the room numbers etc. I double checked that I had the latest files updated yesterday in class.
Both of the files already contain the room numbers and the names, so I don't know why they did not show up when we expanded both of the files yesterday in class.

[2015-06-25 22:53] LauraRF commented on #27
I just started working on the English dictionary for our domain, because I just realized that I need it for the jsgf grammar expander to work properly. The expander only expands words of which it has the corresponding pronunciation in the cmu file. I need the expander to work properly quite quickly so that we can continue to check the workings of the jsgf grammar itself.

[2015-06-26 08:38] psibre commented on #17
Btw, we currently also have a [duplicate German grammar file](../blob/94a1c6ec66ef46a932bfb755d6b9b116a3501cf4/src/main/resources/grammar_de.jsgf), which should probably be merged into `grammar_de/gram.gram`.

[2015-06-26 08:43] psibre commented on #27
OK, that explains [a lot](17#issuecomment-115398808).
Currently the CMUdict is [hardcoded into the JSGF grammar expander](../blob/efb03052563f0078d75d5756daaefb41c035a1a0/src/main/java/JsgfExpander.java#L36), so that would have to be adapted, and we'll need to have the `expandGrammar*` tasks in the gradle buildscript depend on our limited-domain lexicon being present.

[2015-06-26 08:44] psibre commented on #27
@LauraRF just merged your PR #28, thanks a lot!

[2015-06-26 15:44] benti commented on #16
I tried to implement the test without MaryTTS using prepared audio files instead. You can find a working test in my repo in the branch `speech-test`: https://github.com/benti/EllaVator/tree/speech-test

Unfortunately, the recognition is not very good, but at least it recognizes the example I provided there.

[2015-06-30 20:09] bryandeng commented on #24
I'm working on this issue along with @naszka.

Since we are using at least two dictionaries, I think it's not a good idea to hard-code paths to such dictionaries in `SphinxASR.java`.
I opened an issue in the OpenDial project: https://github.com/plison/opendial/issues/11.

BTW, should we include acoustic model files in our repository? It's usually not a good idea to include large files.

[2015-07-01 11:57] asayeed commented on #19
We have serial port, I repeat, we have serial port.

[2015-07-01 12:00] asayeed commented on #22
I am familiar with minicom and your suggestion is good.  We only need an elevator mockup if we need to send signals back, ie, if the elevator API (do we have this yet?  should there be an issue on it?) returns results.

[2015-07-01 12:35] #19 closed

[2015-07-01 12:50] asayeed opened #36 "Serial and milk?"
This is the issue for discussing the actual real true serial port interface stuff, from a hardware and a drivers perspective.  We are using this:

http://www.lctech-inc.com/Hardware/Detail.aspx?id=67f4ee1a-7412-4d12-87f6-7d00d52566ca

The standard pinnage for connecting them is described here:

http://de.mathworks.com/help/supportpkg/raspberrypiio/ug/use-the-serial-interface-on-raspberry-pi-hardwa

[2015-07-01 12:53] asayeed commented on #36
It's possible that the elevator might need up to 12V which is the recommended RS232 level.  In that case, we'll have to buy a bread board and a bunch of chips...

[2015-07-01 13:31] psibre commented on #17
Could we clean up the resources to avoid confusion?

[2015-07-01 13:34] psibre commented on #27
We still need the German dictionary...

[2015-07-01 13:35] psibre commented on #16
Closed by #35

[2015-07-01 13:35] #16 closed

[2015-07-01 13:36] psibre opened #37 "Prompt list"
We still need a German prompt list, and we should let our imagination run wild with the English one. We want to have recordings of everything we *want* the system to understand, not limited by the current state.

[2015-07-01 13:37] psibre commented on #37
@LauraRF Could you please move `some_examples_generated_by_compact_gram.txt` to a new `doc` directory?

[2015-07-01 13:48] psibre commented on #36
I'll put the old java serial elevator interface code into our project directory.

[2015-07-01 13:50] psibre commented on #37
@sirifarif Could you please find a small number of prompts for a phonetically balanced corpus?

[2015-07-01 16:07] psibre commented on #36
I mounted the old WinXP HDD dump image in a Mint VM and extracted the java source for talking to the elevator via serial.
You can find it at `/proj/courses/elevator15/sesam-src.tar.gz` in CoLi NFS.

[2015-07-06 11:27] LauraRF commented on #37
I also looked for some phonetically balanced prompts in English and came across the "Harvard Sentences" http://www.cs.columbia.edu/~hgs/audio/harvard.html which, according to wikipedia are "phonetically balanced sentences that use specific phonemes at the same frequency they appear in English." There are 72 Lists with 10 sentences each, so if that is what we are looking for, we could use one or tw

[2015-07-06 11:45] LauraRF commented on #37
I would welcome any creative suggestions for prompts in English which are not based on the actual rules. As I've still got the rules in my head from writing them, I am somehow not very creative at the moment in coming up with commands which can't be generated by the grammar.

[2015-07-06 22:11] HoffmannAJ commented on #27
I created a german dictionary but I don't seem to be able to create a new pull request while the last weeks pull request is sill open.

[2015-07-06 22:16] bryandeng commented on #27
@HoffmannAJ Put it on another branch.

[2015-07-08 08:23] psibre commented on #37
@LauraRF Sounds good, and probably more constrained than picking a subset from TIMIT.

Meanwhile, for German, we can pick a subset of the [BITS](http://www.bas.uni-muenchen.de/forschung/Bas/BasBITSUSTABLE) sentences.

[2015-07-08 12:37] #24 closed

[2015-07-08 13:54] psibre commented on #37
I have a [new branch in my fork](/psibre/EllaVator/tree/promptlist)!

[2015-07-08 15:33] psibre opened #44 "German speech recognition"
we want Ella to understand German, so we need acoustic models for German.

[2015-07-08 15:36] psibre commented on #44
We can use the German acoustic models trained on data from [VoxForge](http://voxforge.org/).
I've created a small subproject that declares a dependency on a ready-built model and unpacks it to our build classpath.
Currently in [a branch in my fork](/psibre/EllaVator/tree/german-acoustmodel).

[2015-07-08 15:50] psibre commented on #44
It turns out there may be some issues with custom repositories in Gradle and Travis... we'll need to look into the CI compatibility.
It's possible that Travis internally disables custom repositories by default; I know they do it with Maven.

[2015-07-08 22:34] LauraRF commented on #37
I haven't managed to get the new branch in your fork, but I added a new branch "exampleprompts" in my fork, where I put some German request sentences. I hope you can get them from there.

[2015-07-09 07:24] psibre commented on #37
@LauraRF thanks, your prompts have been merged in a109c6352409b49d90f1ff1ed3f224203d41a383 and 955a5efc69bf64ac8f6f32feae8cbf9f635d5410 (my fork).

[2015-07-10 10:14] naszka commented on #44
Hi, i tried to build, but the resource voxforge:r20141117 could not be found in j-center
Is it because of the problem you mentioned? What's CI compatibility?

[2015-07-10 14:17] naszka commented on #44
I noticed we didn't have German dictionary yet, so I made one. Pushed it to [my fork](https://github.com/naszka/EllaVator) german-acoustmodel branch. I  generated it from the phonetic transcriptions in the voxforge dictionary, so there are lines that are missing the phonetic transcription, feel free to fill them in.

[2015-07-14 09:43] sirifarif commented on #44
@naszka : How you came up with the pronunciation of the words. What is your source.
Is it taken from emu dictionary.

[2015-07-14 16:47] naszka commented on #44
@sirifarif I used the the voxforge dictionary. I found it under /voxforge-de/build/resources/main/voxforge-de-r20141117/etc/voxforge.dic

[2015-07-22 14:17] bryandeng commented on #37
@psibre I think it's a good idea to first update the prompt lists (Dr. -> Doctor, remove punctuation, etc) so that everyone knows what to do with their current version of TextGrid file.

[2015-07-22 14:20] psibre commented on #37
At this point the primary data is the TextGrid annotations, so those need to be changed directly. (But it's easy to do in a text editor, or using Praat itself to do regex replaces.)
But of course we can also update the files under `prompts/src/text` for good measure.

[2015-07-22 16:06] benti commented on #37
How should the annotations look like?
What I understood is:
* no commas, no full stops
* no apostrophe (Hewers instead of Hewer's)

Unclear:
* hyphens like "eye-tracking" "Karstadt-Kaufhaus" ?
* Capital letters are ok? Also in the beginning of a sentence?

[2015-07-22 17:20] psibre commented on #37
@sirifarif what's your take on the orthography to acoustics mapping?

[2015-07-22 17:40] sirifarif commented on #37
@psibre @benti
I think it should be as we read it. So when we read "eye-tracking", we read "eye tracking" and not as "eye dash tracking". So transcribe it the way we read it.

If we stick to one case, than that will be better even if it is in the beginning of the sentence. In our case, its **small case**. It should match the pronunciation dictionary file.

[2015-07-24 14:18] benti opened #59 "Project report"
Hi everybody,

Let's try authorea for our project report:
https://www.authorea.com/users/50452/articles/58685/_show_article

I created this document and invited everybody I could get email addresses from. I will add everybody who sends me their email address.

The structure in the document is just a proposal. If you have better ideas go ahead and change everything or discuss it in the comments sec

[2015-08-03 16:54] LauraRF commented on #59
I'll start writing a small chapter or subchapter on the jsgf grammar.

[2015-08-21 15:48] naszka commented on #59
Hey, I added an outline for the report, feel free to edit /choose a section
[on my fork](https://github.com/naszka/report)
@benti : I just realized you already wrote one, but it is virtually the same.

[2015-08-25 11:37] LauraRF commented on #59
I wanted to upload the photo I've taken of the setup for the reverberaton recordings, so that it can be used in the report. Is there already a place / folder on EllaVator where everything for the report has to go?

[2015-08-25 13:08] benti commented on #59
I'll start writing about travis now.

[2015-08-25 13:55] LauraRF commented on #59
I will upload a file (project_report.tex) that subsumes all of our individual latex files / chapters, so that we only have to compile the project_report.tex file. I'm working on it now, but I'm having some problems pushing it into EllaVator Report. I'll hopefully have that fixed until tomorrow.

[2015-08-26 13:56] psibre commented on #59
Please continue discussion in the [report](/Ellavator/report) repo. :grinning:

[2015-08-26 13:56] #59 closed

[2015-08-26 15:04] psibre opened #68 "Serial Comm diagnostics"
We should diagnose the serial communications between the elevator and *any* PC by creating a lightweight utility (in python or whatever) that can be run on a random laptop/PC with a serial port. This should be able to send the control and heartbeat commands to the elevator, and record the responses.

After we determine how to communicate with the elevator in this way, we can then invert the utilit

[2015-08-27 13:22] tastyminerals commented on #68
here is the script that emulates sending and receiving floor signals: https://github.com/tastyminerals/pyserial-testing.git

[2015-08-28 18:24] tastyminerals commented on #68
Added **pi4j-dev-demo-maven-1.0-SNAPSHOT.jar** serial testing util and **sesam-sources-1.0-SNAPSHOT.jar** util created from old source files used in the previous project.
*pi4j* util was not tested because we still cannot figure out how to establish a reliable serial connection with another pc.
*sesam* util was tested on the dell laptop and it appears that it requires *javax.comm.properties* file

[2015-09-04 14:46] HoffmannAJ opened #79 "Multi input"
Hi all,

I was thinking about whether we would like to allow multiple inputs.

At the moment the system is only able to handle one task.
One user enters, passes a command to the elevator and the order is executed.

But how would things look like if two people were to enter with each different destinations?
Would we like to have the elevator waiting for further speech input after each command?
Or d

[2015-09-04 14:47] LauraRF opened #80 "Switching between English and German input"
Looking for suggestions on how to switch between English and German input.
I have some vague ideas on how to do this in the jsgf grammar file, but (for those of us how looked into it) how would this work in Sphinx? Can it listen for two languages at the same time? Can Mary be activated for to languages at the same time?

[2015-09-04 15:53] naszka commented on #80
So, I looked into this before, and from Sphinx it can be solved the following way: you do recognition for both languages (run with two [configurations](http://cmusphinx.sourceforge.net/wiki/tutorialsphinx4) ) and choose the one which returns higher recognition prob.
But we use Sphinx through an OpenDial plugin, so we have to look into how it can be hacked to do this. Actually, I am happy to take t

[2015-09-04 17:14] LauraRF commented on #80
Thank you for your quick answer. I think it would be great if you could try to make that work.

[2015-09-04 18:13] naszka commented on #80
This ties back to #44

[2015-09-05 11:02] naszka commented on #80
[code]
so let's figure out why it "seems difficult"

[2015-09-11 16:44] naszka commented on #80
hi again, I think we'll need an implementation of this:
(ConfidenceScorer)[http://cmusphinx.sourceforge.net/doc/sphinx4/edu/cmu/sphinx/result/ConfidenceScorer.html#score(edu.cmu.sphinx.result.Result)]
This page lists a couple of them, but how can I get the actual code for those?
Maybe sy, who has worked with sphinx before knows how to get confidence scores? @sirifarif  ?

[2015-10-09 12:41] asayeed commented on #36
We (Pavel and I, but mostly Pavel) made some progress on the serial port front by being more systematic about it.  We're now able to command the elevator from a Windows PC as well as from the Dell Linux laptop.  Use of the RXTX driver plus 38K baud seems to be the combination that works.

Moving to the pi has been our next step, but some of the build tools we've been using don't play very nice the

[2015-11-04 14:20] tastyminerals opened #86 "Finishing up the report"
Hi guys. We decided to review the status of our report and see what else can be added to the table.
Below is a list of items that everyone is invited to contribute.

**Testing** -- Alex takes this.
**Raspberri Pi** (replace pi4j section), **Serial cable connection setup** (some undocumented stuff), **Development tools** (some info about serial port tools) - Pavel  takes this.

**ASR** (Arif's pres

[2015-11-08 15:00] HoffmannAJ commented on #86
Hey
I guess I might be able to write a small article about the structure and components of TTS Mary.

[2015-11-08 18:34] tastyminerals commented on #86
Nice!

[2015-11-09 10:40] asayeed commented on #36
So we have a Raspberry Pi that can talk on the USB serial port to a PC and send what we know to be the right signals.  But it appears that USB-to-serial conversion does not run at enough power for the elevator to hear it properly -- it interprets everything sent by the Pi as an instruction to go to floor 0.5.  It won't go anywhere else.  By this we know that the signal is getting garbled.

Our opt

[2016-01-01 18:35] HoffmannAJ commented on #86
Happy New Year!

 I just had a look at the open Tickets in EllaVator.
 With the deadline of our project now fast approaching, may I assume,
 that there won't be any work put on for example Ticket #80 and #79?

 I'm thinking about writing a small chapter to extend the open dial section.
 I guess I could mention my thoughts about the problems described in #79.

[2016-01-01 18:40] sirifarif commented on #86
You mean to extend the report?

[2016-01-01 19:29] HoffmannAJ commented on #86
A little, yes.
It might be just half a page or a page.
I thought we could include the general idea how our dialogue should turn out as have already described in ticket #6.
Do you think that is a good idea?

[2016-01-01 19:32] sirifarif commented on #86
Yes, I think its good.
Just include in in a separate tex file in the main file.

[2016-01-02 16:30] HoffmannAJ commented on #86
I have just created a pull request. I named the new chapter "General thoughts", as I couldn't come up with a better name. ^^" Maybe some one else has a better idea!
The chapter does include some of the ideas mentioned in ticket #79 it does not yet contain anything from ticket #80.
@naszka , @LauraRF  the two of you worked on that, right? Does one of you fee like writing about this issue?

[2016-03-07 21:39] #7 closed

[2016-03-29 13:10] #86 closed

[2016-04-12 16:35] tastyminerals opened #88 "Ellavator cannot find Domain_Opendial_Ella.xml file"
When runnning `./gradlew :run`.
[code]

The file exists in the folder.

[2016-04-14 08:53] sirifarif opened #89 "no rxtxSerial in java.library.path thrown while loading gnu.io.RXTXCommDriver"
I got the following error while doing a fresh run and following the steps as in *README* file.

I guess it doesn't find the serial port. Any idea?

[code]

[2016-04-14 12:23] asayeed commented on #89
I think this has to do with RXTX libraries needing to be in the right place, and that has to be done separately for each system.  At least as I understand it from @tastyminerals .  Any way we could bypass this?  I'm not familiar with the nitty-gritty of this part, nor do I understand enough about gradle to bypass it myself.

[2016-04-14 14:16] tastyminerals commented on #89
If you are using Ubuntu, first install **librxtx-java**. Then you need to copy `Rxtx.jar` and .so files into java dirs.
Here are a few websites that explain what needs to be done.
[first link](http://java-buddy.blogspot.com.by/2013/06/setup-rxtx-jar-and-so-for-ubuntu.html)
[second link](http://www.jcontrol.org/download/readme_rxtx_en.html)

[2016-04-15 11:31] sirifarif commented on #89
After copying the files
[code]
i got the exception
 ```NoSuchPortExcetion: gnu.io.NoSuchPortException```.

Is it that I dont have a port or the installation was not good?

[2016-04-15 14:11] tastyminerals commented on #89
if you don't have a serial port (working `/dev/ttyS0`) on your system you won't be able to start the project.

[2016-04-15 14:15] asayeed commented on #89
Yes, I suggest commenting out the bit of the code that requires actually
starting the serial port access just for the purpose of debugging the
single problem that Pavel identified in loading some of the dialogue
management stuff, as I understand it.

Yours,
--Asad.

On 04/15/2016 04:11 PM, tastyminerals wrote:

[2016-04-15 14:20] sirifarif commented on #89
OK, @tastyminerals could you suggest on how to reproduce the *original* error i.e #88. I mean which code to comment etc.

[2016-04-15 14:30] asayeed commented on #89
Yeah, @tastyminerals, could you just create a branch without the serial
port stuff or something?  Then we can merge @sirifarif's changes back
into the main branch when he's fixed whatever gradle/OpenDial/whatever
problem there is.

Yours,
--Asad.

On 04/15/2016 04:20 PM, sirifarif wrote:

[2016-04-15 14:57] tastyminerals commented on #89
Try commenting out line **33** and line **125** in `ModuleElla.java` file.
As for a separate build without serial resources, I wish I knew how to exclude this in gradle.

[2016-04-19 10:57] sirifarif commented on #89
After commenting the line *33* and *125*, I have successfully run the project. :)

[2016-04-19 10:57] #89 closed

[2016-04-19 10:58] sirifarif commented on #88
So after comming out the line numbers as mentioned in #89, I have sucessfully run the project.

[2016-06-08 13:55] #88 closed

[2016-06-20 12:35] psibre opened #95 "Cannot run headlessly"
Trying to run in a headless environment causes a headless exception:

[code]

It's not clear if the system itself is functional at that point (and only the GUI monitor is failing), or if everything hangs in a broken state...

[2016-06-20 12:37] psibre commented on #95
This may or may not be related to plison/opendial#13.

[2016-06-20 13:12] tastyminerals opened #96 "Running EllaVator with "detect voice activity" on by default"
When running EllaVator with `./gradlew run`, OpenDial starts the interaction UI without "detect voice activity" enabled.
We need to fix this so that when EllaVator is booted on startup it is ready to accept speaker's input.